@keyframes rustle {
  0% {
    background-color: transparent;
    transform: translateX(0%);
  }
  25% {
    transform: translateX(2%);
  }
  50% {
    background-color: #F44336;
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-2%);
  }
  100% {
    background-color: transparent;
    transform: translateX(0%);
  }
}
.red {
  animation-name: rustle;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}
