body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', arial, sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -mac-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Roboto Mono', monospace, sans-serif;
}
